* {box-sizing: border-box;}

body {
	padding: 100px;
}

.sq-container {
	display: inline-block;
	width: 50px;
	height: 50px;
	transition: .7s;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
}

.sq-default {
	/*border-radius: 50%;*/
	/*border: 1px solid rgb(100,100,100);*/
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	transition: .7s;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
}


/****************************
********* SQUARES ***********
****************************/

.sq-4 {
	width: 44%;
	height: 44%;
	margin: 3%;
}

.sq-9 {
	width: 28.33333331%;
	height: 28.33333331%;
	margin: 2%;
}

.sq-16 {
	width: 21%;
	height: 21%;
	margin: 2%;
}

.sq-25 {
	width: 17.5%;
	height: 17.5%;
	margin: 1.25%;
}

.sq-36 {
	width: 14.666667%;
	height: 14.666667%;
	margin: 1%;
}

.sq-49 {
	width: 12.2857143%;
	height: 12.2857143%;
	margin: 1%;
}

.sq-click-on {
	transform: translate(-50%, -50%);
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
}

.sq-click-off {
	transform: translate(-50%, -50%);
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.sq-hover:hover {
	transform: translate(-50%, -50%);
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
}

.sq-hover:hover .sq-standard-hover {
	opacity: 0;
}

.sq-standard-click-off {
	opacity: 1.0;
}

.sq-standard-click-on {
	opacity: 0;
}
