* {box-sizing: border-box;}

body {
	padding: 100px;
}

.sq-container-slow,
.sq-container-medium,
.sq-container-fast {
	display: inline-block;
	width: 50px;
	height: 50px;
}

.sq-default-slow,
.sq-default-medium,
.sq-default-fast {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
}

.sq-container-slow,
.sq-default-slow {
	transition: 1s;
	-webkit-transition: 1s;
	-moz-transition: 1s;
	-o-transition: 1s;	
}

.sq-container-fast,
.sq-default-fast {
	transition: .4s;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	-o-transition: .4s;
}

.sq-container-medium,
.sq-default-medium {
	transition: .7s;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
} 


/****************************
********* SQUARES ***********
****************************/

.sq-4 {
	width: 44%;
	height: 44%;
	margin: 3%;
}

.sq-9 {
	width: 28.333333333333333333333%;
	height: 28.33333333333333333333%;
	margin: 2.5%;
}

.sq-16 {
	width: 21%;
	height: 21%;
	margin: 2%;
}

.sq-25 {
	width: 17.5%;
	height: 17.5%;
	margin: 1.25%;
}

.sq-36 {
	width: 14.666667%;
	height: 14.666667%;
	margin: 1%;
}

.sq-49 {
	width: 12.2857143%;
	height: 12.2857143%;
	margin: 1%;
}

.radius {
	border-radius: 50%;
}

.sq-click-off {
	transform: translate(-50%, -50%);
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.sq-click-on {
	transform: translate(-50%, -50%);
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
}

.sq-click-on-counter {
	transform: translate(-50%, -50%);
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	-moz-transform: rotate(-225deg);
	-o-transform: rotate(-225deg);
}

.sq-hover:hover {
	transform: translate(-50%, -50%);
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-o-transform: rotate(225deg);
}

.sq-hover-counter:hover {
	transform: translate(-50%, -50%);
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	-moz-transform: rotate(-225deg);
	-o-transform: rotate(-225deg);
}


/*Change Opacity to allow for squares to still show on animation*/
.sq-hover:hover .sq-standard-hover,
.sq-hover-counter:hover .sq-standard-hover {
	opacity: 0;
}

.sq-standard-click-off {
	opacity: 1.0;
}

/*Change Opacity to allow for squares to still show on animation*/
.sq-standard-click-on {
	opacity: 0;
}

#sq-hook, #black, #blue, #purple, #orange, #red {
	margin: 0 50px;
}