* {box-sizing: border-box;}

body {
	padding: 100px;
}

.sq-container {
	display: inline-block;
	width: 50px;
	height: 50px;
	transition: .7s;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
}

.sq-default {
	display: inline-block;
	margin: 0;
	padding: 0;
	position: relative;
	transition: .7s;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
}


/****************************
********* SQUARES ***********
****************************/

.sq-4 {
	width: 45%;
	height: 45%;
	margin: 2.5%;
}

.sq-9 {
	width: 27.33333331%;
	height: 27.33333331%;
	margin: 3%;
}

.sq-16 {
	width: 20%;
	height: 20%;
	margin: 2.5%;
}

.sq-25 {
	width: 16%;
	height: 16%;
	margin: 2%;
}

.sq-36 {
	width: 12.666667%;
	height: 12.666667%;
	margin: 2%;
}

.sq-49 {
	width: 10.7857143%;
	height: 10.7857143%;
	margin: 1.74999999%;
}

.sq-64 {
	width: 10%;
	height: 10%;
	margin: 1.25%;	
}

.sq-click-on {
	transform: translate(-50%, -50%);
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	/*-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);*/
}

.sq-click-off {
	transform: translate(-50%, -50%);
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
}

.sq-hover:hover {
	transform: translate(-50%, -50%);
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-o-transform: rotate(135deg);
}
